@import 'colors'

.phone
  position: absolute
  width: 448px
  height: 723px
  left: 449px
  top: 67px

.laptop
  position: absolute
  width: 1458px
  height: 869px
  left: 492px
  top: 1772px

.title
  font-style: normal
  font-weight: bold
  font-size: 30px
  line-height: 38px
  letter-spacing: -0.34px
  color: $black

.subtitle
  font-style: normal
  font-weight: 300
  font-size: 20px
  line-height: 26px
  letter-spacing: -0.34px
  color: $black

.is-medium
  font-style: normal
  font-weight: 300
  font-size: 16px
  line-height: 28px
  letter-spacing: -0.2176px
  color: $black

.is-medium-muted
  @extend .is-medium
  color: $grey

.is-small
  font-style: normal
  font-weight: 300
  font-size: 12px
  line-height: 16px
  letter-spacing: -0.204px
  color: $black

.setup-number
  font-style: normal
  font-weight: bold
  font-size: 115px
  line-height: 100px
  color: $orange
